mixin content()
		+b.content&attributes(attributes)
				+b.img_content.fic
						+e('img').img(src='../assets/Gourmet.png')
				+b.column
						+b.img_content
								+e('img').img(src='../assets/Carhartt.png')
						+b.img_content
								+e('img').img(src='../assets/Adidas.png')
				+b.img_content
						+e('img').img(src='../assets/10deep.png')
				+b.img_content
						+e('img').img(src='../assets/Nike.png')
				+b.img_content
						+e('img').img(src='../assets/10deep.png')


