.img
    padding 1rem


.content
    padding-top 2%
    max-width 1470px
    margin 0 auto
    display flex
    justify-content space-around
    flex-wrap wrap



.img_content img
	max-width 100%
	min-width 100%
	height auto
.fic
	width 982px

.column
    width 450px

.column .img_content
    width 100%
.column .img_content:first-child
    padding-bottom 5rem

@media screen and (max-width 768px)
   .column .img_content:first-child
       padding-bottom 0rem


.img_content:nth-child(3)
    width 465px
    align-self center
.img_content:nth-child(4)
    width 465px
.img_content:nth-child(5)
    width 465px




