@font-face
	font-family 'PT Sans'
	src local('PT_Sans-Web-Bold'),
		local('PT_Sans-Web-Bold'),
		url('../fonts/pt_sans/PT_Sans-Web-Bold.ttf') format('ttf'),
		font-weight 700
		font-style normal

@font-face
	font-family 'Courier'
	src local('courier__regular'),
		local('courier__regular'),
		url('../fonts/courier/courier__regular.ttf') format('ttf'),
		font-weight 700
		font-style normal