.footer-insta
	display flex
	justify-content center
	align-items center
	flex-direction column
	width: 100%
	height: 100vh
	background-image: url('../inta.png')
	background-position center center
	background-size cover
	background-repeat no-repeat

.footer-insta h2
	text-transform uppercase
	font-size 3vw
	color #fff
	letter-spacing 2vw

.footer-insta
	&__hashtag
		font-size 2vw
		color red
		letter-spacing 2vw
		margin-top 1.4rem

