.header__menu li:first-child
    padding-left 40px
    flex 2 1 65%
	display flex
.logo
	width 100px
	height 50px
	background url('../logo.png')
	background-position center center
	background-size cover


