.about__data
	max-width: 825px
	display: flex
	flex-direction: column
	margin: 0 auto
@media screen and (min-width:1400px)
	.about__data
		margin 0
.item__about
		display flex
		padding-right 60px
		label
			font-set(22px,700)
			line-height: 62.73px
			font-family "PT Sans"
		input
			flex 1
			padding-bottom 8px
			padding-left 13px
			height 41px
			margin-left 20px
			border-top none
			border-left none
			border-color #231f20
			border-right none
			background none
			outline none
			font-set(30px,400,36px, #231f20)
			font-family "Courier"
			
.active
	text-align center

	
	