.header
	display flex
	flex-direction column
	
.header__logo
	display flex
	justify-content space-between
.header__title
	display flex
	justify-content center
	margin-left 70px
	margin-right 150px
.title
	sprite $yuri__case
.csssr
	sprite $logo_company
	margin-top 15px
	margin-left 5px
.secret
	sprite $secret
	
	
	