.header__menu
	margin 0 auto
	padding-top 2%
	display flex
	flex-wrap wrap
	justify-content center
 & li
	color wheat
	align-self center
	flex 1 1 5%

@media screen and (max-width: 480px)
	.header__menu li:first-child
		flex-basis 100%
		display flex
		justify-content center
		padding-left 0%









	
	
