.footer
	margin-top: 85px
	padding-bottom: 60px
	margin-left: 10px
	
@media screen and (min-width: 1400px)
	.footer
		margin-left 0
		margin-top 88px
label[for='date']
	font-set(22px,700,49.83px,#2f1b15)
	font-family "PT Sans"
	
#date
	width 54.5%
	margin-left: 18px
	border-top none
	border-left none
	border-color #231f20
	border-right none
	background none
	outline none
	font-size 30px
	font-weight 400
	text-align center
	line-height 33px
	color #231f20
	font-family "Courier"
	
.date__complete
	display flex