.footer
	display block
	margin-top 5%
	padding-bottom 5%

label[for='date']
	font-set(22px,700,49.83px,#2f1b15)
	font-family "PT Sans"
	
#date
	width 23%
	margin-left: 23px
	border-top none
	border-left none
	border-color #231f20
	border-right none
	background none
	outline none
	font-size 30px
	font-weight 400
	text-align center
	line-height 36px
	color #231f20
	font-family "Courier"