.yuriz__data
	display block
	
.tellme__title
	font-set(24px,700,49.83px)
	font-family "PT Sans"

.tellme__rule
	letter-spacing 0.065px
	font-set(15px,400,23px,#3d3d3d)
	font-family "PT Sans"

	
.plan__title
	font-set(24px,700,49.83px)
	font-family "PT Sans"

.plan__rule
	letter-spacing 0.065px
	font-set(15px,400,23px,#3d3d3d)
	font-family "PT Sans"

.plan__options
	margin-top 3%
	display flex
	.option
		input[type='radio']
			display none
		input[type='radio'] + label
			position relative
			font-set(20px,700,25px,#000)
			font-family "PT Sans"
			padding-left 40px
			&:before
				content ''
				display block
				position absolute
				sprite $radio_box
				top -12px
		input[type='radio']:checked + label:before
				sprite $radio
			
			
		
	